<div class="dash-cover">
<div class="top-head">
<div class="art">
<img class="banner" src="/images/vmario-logo.jpeg">
<h1 class="mt-4 logos">Via Mario</h1>
</div>
<p class="best">Simply the best!</p>
<i class="user-icon fas fa-user-circle"></i>
<p class="welcome-name lead mb-3">Welcome, <%= name %>.</p>
<a href="/users/logout" class="out-btn btn btn-success">Logout</a>
<div>
<i class="shop-cart fas fa-shopping-cart"></i>
</div>
</div>

<div class="back-style">
<div class="dash dash-typewriter">
    <h1><b>We Bring you the best Online Shopping experience!</b></h1>
</div>
<div class="shop shop-typewriter">
    <h1><b>Shop with us today. Place your orders now!</b></h1>
</div>
<div class="good good-typewriter">
    <h1><b>Get your goods delivered in good time!</b></h1>
</div>
</div>

<div>
<div class="our-prod">
<div class="or">Our</div>
<div class="prod">products</div>
</div>
<div class="bord"></div>
<div class="foot-cat">
    <div class="ft">Foot</div>
    <div class="wear">Wear Category (Scroll Sideways)</div>
</div>
<div class="lin"></div>
<div class="foot-row">
    <div class="item">
        <div class="img1"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
        <div class="ftwr">
            <div class="fo">Foot</div> 
            <div class="wer">Wear</div>
        </div>
        <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img2"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img3"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img4"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img5"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img6"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img7"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img8"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>30</option>
            <option>32</option>
            <option>34</option>
            <option>36</option>
        </select>
        <div class="prft">
            <div class="ftwr">
                <div class="fo">Foot</div> 
                <div class="wer">Wear</div>
            </div>
            <div class="hsh">#</div>
        </div>
    </div>
</div>

<div class="pef-cat">
    <div class="perf">Perfume</div>
    <div class="cart-scl">Category (Scroll Sideways)</div>
</div>
<div class="srpt"></div>
<div class="perfume-row">
    <div class="item">
        <div class="img9"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <div class="prft">
            <div class="ftwr1">Perfume</div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img10"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <div class="prft">
            <div class="ftwr1">Perfume</div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img11"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <div class="prft">
            <div class="ftwr1">Perfume</div>
            <div class="hsh">#</div>
        </div>
    </div>
    <div class="item">
        <div class="img12"></div>
        <button class="make btn btn-success"><a href="/users/email">Make Order</a></button>
        <label class="size">SIZE:</label>
        <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <div class="prft">
            <div class="ftwr1">Perfume</div>
            <div class="hsh">#</div>
        </div>
    </div>
</div>
</div>

<div class="footee">
    <div class="vee">
        <img class="pln" src="/images/vmario-logo.jpeg">
        <h1 class="vtext mt-4">Via Mario</h1>
    </div>
    <p class="dabest">Simply the best!</p> 
    <div class="mali">
    <i class="mailbx fas fa-envelope"></i>      
    <div>vimario12@yahoo.com</div>
    </div> 
    <div class="numi">
        <i class="numic fas fa-mobile-alt"></i>
        <div>07081202907, 08181077978</div>
    </div> 
    <div class="adres">
        <i class="adresic fas fa-map-marker-alt"></i>      
        <div>36 Alhaji Yusuf,Off Coconut  Bus-stop,Apapa-Oshodi Express Way.</div>
    </div> 
    <div class="yright">&copy; Copyright Via Mario 2021. All Rights Reserved. Designed and Developed by <a href="https://www.linkedin.com/in/michael-abaniwo/">Michael Abaniwo</a></div>    
    <div class="foot foot-typewriter">
        <h1><b>Thank you for your patronage!</b></h1>
    </div>    
</div>

</div>


