<section>
<div class="container">
    <div class="elogo">
        <img class="elogo-img" src="/images/vmario-logo.jpeg">
        <h1 class="elogo-txt mt-4">Via Mario</h1>
    </div>
    <p class="ply">Simply the best!</p>
    <div class="plc">Place your Order by following the steps below:</div>
    <div class="stepdet">Step 1: Fill your Order details in the form below.</div>   
    <form class="email-frm" action="https://formspree.io/f/xbjwdlno" method="POST">
        <div class="form-group">
            <label class="one" for="FirstName">First Name</label>
            <input type="text" id="firstName" name="First Name">
        </div>
        <div class="form-group">
            <label class="two" for="Last Name">Last Name</label>
            <input type="text" id="lastName" name="Last Name">
        </div>
        <div class="form-group">
            <label class="three" for="Email">Email Address</label>
            <input type="email" id="email" name="Email">
        </div>
        <div class="form-group">
            <label class="four" for="Order">Your Order (Name of product you want)</label>
            <input type="text" id="order" name="Order">
        </div>
        <div class="form-group">
            <label class="five" for="Details">Details of your Order (e.g size, color etc)</label>
            <textarea name="Order Details" id="details" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label class="six" for="Address">Delivery Address</label>
            <input type="text" id="address" name="Address">
        </div>
        <div class="form-group">
            <label class="seven" for="Phone">Phone Number</label>
            <input type="text" id="phone" name="Phone Number">
        </div>
        <div class="form-group">
            <label class="eight" for="Information">Any Additional Information?</label>
            <textarea name="Additional Information" id="info" cols="30" rows="10"></textarea>
        </div>
        <button class="email-sub">Submit</button>
    </form>
    <div id="status"></div>
    <div class="on-pay">Step 2: Make your online payment by clicking the button below:</div>
    <button class="py-btnl"><a href="https://paystack.com/pay/bbhn3ob2fn">Buy Now</a></button>
    <div class="recv">Step 3: Tell us whether or not you have received your delivery.</div>   
    <form class="feedback-txt" action="https://formspree.io/f/xbjwdlno" method="POST">
        <div class="form-group">
            <label class="nine" for="FirstName">Was your delivery successful (Yes/No)?</label>
            <input type="text" id="delivery" name="Was your delivery successful?">
        </div>
        <div class="form-group">
            <label class="ten" for="Order">Your Order (Name of product you ordered for)</label>
            <input type="text" id="order" name="Order">
        </div>
        <div class="form-group">
            <label class="eleven" for="Email">Email Address</label>
            <input type="email" id="email" name="Email">
        </div>
        <div class="form-group">
            <label class="twelve" for="Address">Delivery Address</label>
            <input type="text" id="address" name="Address">
        </div>
        <div class="form-group">
            <label class="thirteen" for="Phone">Phone Number</label>
            <input type="text" id="phone" name="Phone Number">
        </div>
        <button class="feedback-sub">Submit</button>
    </form> 
</div>
</section>