<div class="d-flex justify-content-center">
<div class="bg-secondary.bg-gradient text-white">
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
      <div class="cardbox card-body text-center">
        <div class="content">
        <div class="line anim-typewriter">
          <h1><b>We Bring you the best Online Shopping experience!</b></h1>
        </div>
        <div class="logo">
        <img class="logo-img" src="/images/vmario-logo.jpeg">
        <h1 class="mario">Via Mario</h1>
        </div>
        <p class="simply">Simply the best!</p>
        <p class="login">Create an account or login</p>
        <div class="btn btn-primary btn-block mb-2 mt-5">
        <a href="/users/register">Register</a>
        </div>
        <div class="btn2 btn-secondary btn-block mt-4">
        <a href="/users/login">Login</a>
        </div>
        </div>
      </div>
    </div>
</div>
</div>

